div.one-third {
	width: 33.5%;
	//margin-left: 15%;
	//margin-right: 0%;
	//margin: 0%;
}

div.one-third-second {
	margin: 0;

}

div.one-third-last {
	clear: both;
	float: none;
	width: auto;
	padding: 20px 0 0 0;
}

div.nav ul li {
	width: 25%;
	border-bottom: 1px solid #bababa;
}
div.browse {
	
}
div.browse-one-third {
	font-size: 14px;
}
@media screen and (max-width: 768px) {
	div.browse-one-third {
		width: 20%;
		margin-left: 7%;
		margin-right: 4%;
		font-size: 18px;
	}
	div.browse-one-third-last {
		
		visibility: hidden;
		padding-top: 0;
		padding-bottom: 0px;
	}
	div.industry-thirds {
		padding-top: 0%; 
	}
}
@media screen and (max-width: 620px) {
	div.nav ul li {
		width: 33%;
	}
	
div.browse-one-third {
	font-size: 10px;
}
}

@media screen and (max-width: 500px) {
	
	div.nav ul li {
		width: 50%;
		font-size: 85%;
	}
	
	div.mobile-collapse {
		width: auto;
		float: none;
		margin-right: 0;
	}
	
	.hide-mobile {
		display: none;
	}
	
	div.one-third-second {
		margin-left: 8%;

}

	div.one-third {
		margin-left: 8%;

}
	
}